.toggle .header {
  border-bottom: 1px dotted #004B6B;
  display: inline;
  clear: both;
  color: #004B6B;
  cursor: pointer;
}

.toggle .header:hover {
  color: #6D4100;
  border-bottom: 1px solid #6D4100;
}

